@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="small-box bg-green whitecolor">
            <div class="inner">
                <h4><span class="count-number">5</span></h4>
                <p>Total Customer</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="#" class="small-box-footer">Total Customer</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="small-box bg-blue whitecolor">
            <div class="inner">
                <h4><span class="count-number">10</span></h4>
                <p>Total Product</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-bag"></i>
            </div>
            <a href="#" class="small-box-footer">Total Product</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="small-box bg-orange whitecolor">
            <div class="inner">
                <h4><span class="count-number">3</span></h4>
                <p>Total Supplier</p>
            </div>
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <a href="#" class="small-box-footer">Total Supplier </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="small-box bg-red whitecolor">
            <div class="inner">
                <h4><span class="count-number">20</span> </h4>
                <p>Total Sale</p>
            </div>
            <div class="icon">
                <i class="fa fa-money"></i>
            </div>
            <a href="#" class="small-box-footer">Total Sale </a>
        </div>
    </div>
</div>